@import '../../../styles/colors.scss';

.shared--app-footer {
  color: hsl(0 0% 60%);
  border-top: 1px solid hsla(0 0% 0% / 40%);
  padding: 1rem;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 20vw;
  }
  .col {
    display: flex;
    flex-direction: column;
  }
}
