.ui-icon {
    display: inline-block;
    vertical-align: middle;

    transition: var(--transition);

    --fill: black;
    PATH {
        fill: var(--fill);
        transition: var(--transition);
    }
}