.profile {
  &--wrapper {
    display: flex;
    flex-direction: row;
  }

  &--avatar-wrapper {
    height: 240px;
    margin: 2rem;
  }
  
  &--info-rows {
    .row-wrapper {
      margin: 1rem 0;
    }
    .label {
      //margin-left: auto;
      font-size: 0.8rem;
      color: hsl(0 0% 50%);
    }
    .info {
      font-size: 1.2rem;
    }
  }
}

