@import '../../../styles/colors.scss';

.shared--app-header {
  height: 56px;
  border-bottom: 1px solid hsla(0 0% 0% / 40%);
  background-color: var(--cl-h24-s3-l4);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 40px;

  & > * {
    height: 100%;
    text-decoration: none;
  }

  .user-header {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;

    .user {
      &-icon {
        height: 100%;
        background: rgb(186, 214, 230);
        border-radius: 50%;
        border: 1px solid white;
        overflow: hidden;
        aspect-ratio: 1;
      }
      &-name {
        color: white;
        font-size: 1.2rem;
      }
    }
  }

  .chat-icon {
    margin-left: auto;
  }
}