@import '../../../styles/colors.scss';

.shared--user-icon {
  height: 100%;
  
  IMG {
    height: 100%;
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
    aspect-ratio: 1;
    object-fit: cover;
  }
}
