.landing--news-container {
    position: relative;

    &.collapsed {
        background-size: cover;
        border-radius: 8px;
        display: flex;
        
        .content {
            padding: 1rem;
            background-color: hsla(0 0% 100% / 50%);

            H1 {
                font-size: 1.5rem;
                margin-block: 0.666rem;
            }
            P {
                margin-block: 0.25rem;
            }
        }
    }
}