@import '../../../styles/colors.scss';

.chat--message-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0.25rem 1rem;

  &.incoming .chat--chat-message {
    background-color: var(--cl-h3-s8-l9);
    margin-right: auto;
    .time {
      margin-right: auto;
    }
  }
  &.outcoming .chat--chat-message {
    background-color: var(--cl-h24-s8-l9);
    margin-left: auto;
    .time {
      margin-left: auto;
    }
  }
}
.chat--chat-message {
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 8px;

  max-width: 40vw;

  display: flex;
  flex-direction: column;

  

  .text {
    font-size: 1.2rem;
  }
  .time {
    font-size: 0.8rem;
    color: hsl(0 0% 50%);
  }
  .attachment {
    display: flex;
    flex-direction: row;
    gap: 0.33rem;
    align-items: center;
    A {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  
}

.chat--icon-wrapper {
  height: 40px;
  float: left;
  margin: 0.5rem;
}